@model List<Club.Models.ActividadTipo>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">

            @Html.ActionLink("Index", "Index", "Profesor")
        </li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Ingresar Profesor</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!-- form start -->

                            @using (Html.BeginForm("Create", "Profesor",
                                new { ReturnUrl = ViewBag.ReturnUrl },
                                FormMethod.Post, new { @class = "login-form", name = "colletion" }))
                            {


                                <div class="form-group">
                                    <label for="nombre">NOMBRE</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="nombre" id="nombre" class="form-control">
                                        <br />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Apellido">Apellido</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="apellido" id="apellido" class="form-control">
                                        <br />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dni">DNI</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="dni" id="dni" class="form-control">
                                        <br />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telefono">TELEFONO</label>
                                    <div class="input-group input-group-sm">

                                        <input type="text" name="telefono" id="telefono" class="form-control">
                                        <br />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">EMAIL</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="email" id="email" class="form-control">
                                        <br />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Id">TIPO DE PROFESOR</label>
                                    <select class="form-control" name="Id">
                                        @foreach (var c in Model)
                                        {
                                            <option value="@c.id">@c.descripcion</option>
                                        }
                                    </select>
                                </div>

                                <div class="box-footer">
                                    <input class="btn btn-primary" type="submit" value="Ingresar" />
                                </div>


                            }
                        </div>
                    </div>
                </div>

                <!-- /.box-body -->

            </div>
        </div>
    </section>

